<template>
  <header>
    <div class="content">
      <h4 class="username">Polito</h4>
    </div>
  </header>
</template>

<script>


export default {
  name: 'Header'
}
</script>
<style lang="sass" scoped>
header
  margin: 0 auto 64px auto
  padding: 0
  height: 80px
  background: rgba(0,44,119,1)
  & .content
    padding: 14px 8px 0 8px

.username
  color: white
  text-align: right
</style>