<template>
  <section class="products-container">
    <article class="product" v-for="(product, index) in products">
          <figure>
            <img class="product-thumbnail" src="http://via.placeholder.com/230x230" :alt="product.name">
          </figure>
          <header>
            <h2 class="product-title" itemprop="name">{{product.name | capitalize}}</h2>
          </header>
          <p class="product-price">$<data :value="product.price">{{product.price}}</data></p>
          <p class="product-price old">$<data :value="product.list_price">{{product.list_price}}</data></p>
      </transition>
    </article>
  </section>
</template>

<script>
import axios from 'axios';


export default {
  name: 'ProductList',
  data() {
    return {
      products: [],
      errors: []
    }
  },
  created: function () {
      axios.get('/products').then(response => {
        this.products = response.data
      }).catch(e => {
        this.errors.push(e)
      });
  }
}
</script>

<style lang="sass" scoped>

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

h1, h2
  font-weight: normal

ul
  list-style-type: none
  padding: 0

li
  display: inline-block
  margin: 0 10px

a
  color: #42b983
  text-decoration: none

.products-container
  display: flex
  flex-direction: column
  flex-flow: wrap
  text-align: center
  width: 90%
  margin: 0 auto

.product-thumbnail
  max-width: 100%

.product
  height: 440px
  background-color: #FFFFFF
  border: 1px solid #DFDFDF
  padding: 40px 10px
  margin: 10px 0
  width: 100%
  cursor: pointer
  &:hover
    box-shadow: 0 0 5px 0 rgba(0,132,224,0.75)
    border-color: #0084E0

.product-title
  font-size: 1rem
  color: #333333
  letter-spacing: 0
  line-height: 20px
  overflow: hidden
  text-overflow: ellipsis
  height: 40px
  margin-top: 10px

.product-price
  color: #D1030F
  display: block
  font-size: 28px
  font-weight: 400
  line-height: 32px
  &.old
    color: #9E9E9E
    margin: 0 3px
    vertical-align: middle
    text-decoration: line-through
    font-size: 14px

@media (min-width: 600px)
  .products-container
    flex-direction: row

  .product
    width: 44%
    margin-right: 10px
    &:last-child
      margin-right: 0

@media (min-width: 1024px)
  .products-container
    flex-direction: row

  .product
    width: 30%
    &:nth-child(3)
      margin-right: 0

</style>