<template>
  <div id="app">
    <slot>
      <Header />
      <router-view/>
    </slot>
  </div>
</template>

<script>
import Header from './components/Header'

export default {
  name: 'app',
  components: {
    Header
  }
}

</script>

<style>
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #f4f4f4;
  width: 100%;
}
body{
  padding: 0;
  margin: 0;
}
</style>
